@{
    ViewBag.Title = "Бронирование мест";
}

<div class="jumbotron">
    <h1>Menu</h1>
    <p>@Html.ActionLink("Plan", "Plan", "Seats", null, new { @class = "btn btn-primary" })
    </p>
    <p>@Html.ActionLink("Booked seats", "Booked", "Seats", null, new { @class = "btn btn-primary" })
    </p>
    <p>@Html.ActionLink("Bookers with seats", "BookerAndSeats", "Bookers", null, new { @class = "btn btn-primary" })
</div>