body
{
}

.seat-container {
    position: absolute;
}

.seat {
    background-color: #00bfff;
    height: 9px;
    width: 9px;
    border: none;
    border-radius: 2px;  
}

.seat.selected {
    background-color: grey;
}

.seat.booked {
    background-color: #483C32;
}

.seat:hover {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}

.seat.selected {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.seat.booked {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.seat.selected-by-me {
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
    background-color: #9400D3;
}

.absolute {
    position: absolute;
}

.input-area {
    position: absolute;
    top: 50px;
    left: 1000px;
}

.input-area div input {
    border-style:solid; font-size:16px; padding:8px; border-width:2px; border-radius:5px; border-color:#858185; box-shadow: 0px 0px 0px 0px rgba(42,42,42,.75);width: 200px;
}

.input-area div label {
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 0;
}

.input-area div.my-label {
    margin-top: 10px;
}

button.book {
    border-style:solid; font-size:16px; padding:8px; border-width:1px; border-radius:5px; border-color:#858185; background-color: rgb(255, 219, 77);
    width: 220px;
}

button.book:hover {
    background-color: rgb(255, 214, 51);
}

div > button.book {
    margin-top: 30px;
}

div.popover {
    width: 250px;
}

p.tooltip-header {
    font-weight: bold;
}

.txt-danger {
    color: red;
}

.star {
    font-size: 22px;
}

.deg5 {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.deg10 {
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.deg15 {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.deg20 {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.deg25 {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

.deg30 {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.deg35 {
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.deg40 {
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

.deg45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.deg50 {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -ms-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.deg55 {
    -webkit-transform: rotate(-55deg);
    -moz-transform: rotate(-55deg);
    -ms-transform: rotate(-55deg);
    -o-transform: rotate(-55deg);
    transform: rotate(-55deg);
}

.deg60 {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

.deg65 {
    -webkit-transform: rotate(-65deg);
    -moz-transform: rotate(-65deg);
    -ms-transform: rotate(-65deg);
    -o-transform: rotate(-65deg);
    transform: rotate(-65deg);
}

.deg70 {
    -webkit-transform: rotate(-70deg);
    -moz-transform: rotate(-70deg);
    -ms-transform: rotate(-70deg);
    -o-transform: rotate(-70deg);
    transform: rotate(-70deg);
}

.deg75 {
    -webkit-transform: rotate(-75deg);
    -moz-transform: rotate(-75deg);
    -ms-transform: rotate(-75deg);
    -o-transform: rotate(-75deg);
    transform: rotate(-75deg);
}

.deg80 {
    -webkit-transform: rotate(-80deg);
    -moz-transform: rotate(-80deg);
    -ms-transform: rotate(-80deg);
    -o-transform: rotate(-80deg);
    transform: rotate(-80deg);
}

.deg85 {
    -webkit-transform: rotate(-85deg);
    -moz-transform: rotate(-85deg);
    -ms-transform: rotate(-85deg);
    -o-transform: rotate(-85deg);
    transform: rotate(-85deg);
}

.deg90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.deg95 {
    -webkit-transform: rotate(-95deg);
    -moz-transform: rotate(-95deg);
    -ms-transform: rotate(-95deg);
    -o-transform: rotate(-95deg);
    transform: rotate(-95deg);
}

.deg100 {
    -webkit-transform: rotate(-100deg);
    -moz-transform: rotate(-100deg);
    -ms-transform: rotate(-100deg);
    -o-transform: rotate(-100deg);
    transform: rotate(-100deg);
}

.deg105 {
    -webkit-transform: rotate(-105deg);
    -moz-transform: rotate(-105deg);
    -ms-transform: rotate(-105deg);
    -o-transform: rotate(-105deg);
    transform: rotate(-105deg);
}

.deg110 {
    -webkit-transform: rotate(-110deg);
    -moz-transform: rotate(-110deg);
    -ms-transform: rotate(-110deg);
    -o-transform: rotate(-110deg);
    transform: rotate(-110deg);
}

.deg115 {
    -webkit-transform: rotate(-115deg);
    -moz-transform: rotate(-115deg);
    -ms-transform: rotate(-115deg);
    -o-transform: rotate(-115deg);
    transform: rotate(-115deg);
}

.deg120 {
    -webkit-transform: rotate(-120deg);
    -moz-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    -o-transform: rotate(-120deg);
    transform: rotate(-120deg);
}

.deg125 {
    -webkit-transform: rotate(-125deg);
    -moz-transform: rotate(-125deg);
    -ms-transform: rotate(-125deg);
    -o-transform: rotate(-125deg);
    transform: rotate(-125deg);
}

.deg130 {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
}

.deg135 {
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.deg140 {
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    -o-transform: rotate(-140deg);
    transform: rotate(-140deg);
}

.deg145 {
    -webkit-transform: rotate(-145deg);
    -moz-transform: rotate(-145deg);
    -ms-transform: rotate(-145deg);
    -o-transform: rotate(-145deg);
    transform: rotate(-145deg);
}

.deg150 {
    -webkit-transform: rotate(-150deg);
    -moz-transform: rotate(-150deg);
    -ms-transform: rotate(-150deg);
    -o-transform: rotate(-150deg);
    transform: rotate(-150deg);
}

.deg155 {
    -webkit-transform: rotate(-155deg);
    -moz-transform: rotate(-155deg);
    -ms-transform: rotate(-155deg);
    -o-transform: rotate(-155deg);
    transform: rotate(-155deg);
}

.deg160 {
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
    -ms-transform: rotate(-160deg);
    -o-transform: rotate(-160deg);
    transform: rotate(-160deg);
}

.deg165 {
    -webkit-transform: rotate(-165deg);
    -moz-transform: rotate(-165deg);
    -ms-transform: rotate(-165deg);
    -o-transform: rotate(-165deg);
    transform: rotate(-165deg);
}

.deg170 {
    -webkit-transform: rotate(-170deg);
    -moz-transform: rotate(-170deg);
    -ms-transform: rotate(-170deg);
    -o-transform: rotate(-170deg);
    transform: rotate(-170deg);
}

.deg175 {
    -webkit-transform: rotate(-175deg);
    -moz-transform: rotate(-175deg);
    -ms-transform: rotate(-175deg);
    -o-transform: rotate(-175deg);
    transform: rotate(-175deg);
}

.deg180 {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.degr5 {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}

.degr10 {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
}

.degr15 {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg);
}

.degr20 {
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}

.degr25 {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    transform: rotate(25deg);
}

.degr30 {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.degr35 {
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    transform: rotate(35deg);
}

.degr40 {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
}

.degr45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.degr50 {
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
}

.degr55 {
    -webkit-transform: rotate(55deg);
    -moz-transform: rotate(55deg);
    -ms-transform: rotate(55deg);
    -o-transform: rotate(55deg);
    transform: rotate(55deg);
}

.degr60 {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.degr65 {
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
    transform: rotate(65deg);
}

.degr70 {
    -webkit-transform: rotate(70deg);
    -moz-transform: rotate(70deg);
    -ms-transform: rotate(70deg);
    -o-transform: rotate(70deg);
    transform: rotate(70deg);
}

.degr75 {
    -webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    transform: rotate(75deg);
}

.degr80 {
    -webkit-transform: rotate(80deg);
    -moz-transform: rotate(80deg);
    -ms-transform: rotate(80deg);
    -o-transform: rotate(80deg);
    transform: rotate(80deg);
}

.degr85 {
    -webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    -ms-transform: rotate(85deg);
    -o-transform: rotate(85deg);
    transform: rotate(85deg);
}

.degr90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.degr95 {
    -webkit-transform: rotate(95deg);
    -moz-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    -o-transform: rotate(95deg);
    transform: rotate(95deg);
}

.degr100 {
    -webkit-transform: rotate(100deg);
    -moz-transform: rotate(100deg);
    -ms-transform: rotate(100deg);
    -o-transform: rotate(100deg);
    transform: rotate(100deg);
}

.degr105 {
    -webkit-transform: rotate(105deg);
    -moz-transform: rotate(105deg);
    -ms-transform: rotate(105deg);
    -o-transform: rotate(105deg);
    transform: rotate(105deg);
}

.degr110 {
    -webkit-transform: rotate(110deg);
    -moz-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -o-transform: rotate(110deg);
    transform: rotate(110deg);
}

.degr115 {
    -webkit-transform: rotate(115deg);
    -moz-transform: rotate(115deg);
    -ms-transform: rotate(115deg);
    -o-transform: rotate(115deg);
    transform: rotate(115deg);
}

.degr120 {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}

.degr125 {
    -webkit-transform: rotate(125deg);
    -moz-transform: rotate(125deg);
    -ms-transform: rotate(125deg);
    -o-transform: rotate(125deg);
    transform: rotate(125deg);
}

.degr130 {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
}

.degr135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.degr140 {
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    transform: rotate(140deg);
}

.degr145 {
    -webkit-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -ms-transform: rotate(145deg);
    -o-transform: rotate(145deg);
    transform: rotate(145deg);
}

.degr150 {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
}

.degr155 {
    -webkit-transform: rotate(155deg);
    -moz-transform: rotate(155deg);
    -ms-transform: rotate(155deg);
    -o-transform: rotate(155deg);
    transform: rotate(155deg);
}

.degr160 {
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
    -ms-transform: rotate(160deg);
    -o-transform: rotate(160deg);
    transform: rotate(160deg);
}

.degr165 {
    -webkit-transform: rotate(165deg);
    -moz-transform: rotate(165deg);
    -ms-transform: rotate(165deg);
    -o-transform: rotate(165deg);
    transform: rotate(165deg);
}

.degr170 {
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    transform: rotate(170deg);
}

.degr175 {
    -webkit-transform: rotate(175deg);
    -moz-transform: rotate(175deg);
    -ms-transform: rotate(175deg);
    -o-transform: rotate(175deg);
    transform: rotate(175deg);
}

.degr180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
